<div class="container">
  <div class="card-header">
    <h3>Clientes</h3>
  </div>
  <div class="car-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>NOMBRES</th>
          <th>APELLIDOS</th>
          <th>EMAIL</th>
          <th>TELEFONO</th>
          <th>DIRECCION</th>
          <th>ACCIONES</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes">
          <td>{{cliente.id}}</td>
          <td>{{cliente.nombres}}</td>
          <td>{{cliente.apellidos}}</td>
          <td>{{cliente.email}}</td>
          <td>{{cliente.telefono}}</td>
          <td>{{cliente.direccion}}</td>
          <td>
            <button type="button" class="btn btn-warning" data-bs-toggle="modal"
              data-bs-target="#editarModal">Editar</button>
            <button type="button" class="btn btn-dange" data-bs-toggle="modal"
              data-bs-target="#eliminarModal">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="modal fade modal-dialog modal-lg" id="editarModal" tabindex="-1" aria-labelledby="editarModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar cliente</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="row g-3 needs-validation" novalidate>
          <div class="col-md-4">
            <label for="validationCustom01" class="form-label">Nombres</label>
            <input type="text" class="form-control" id="validationCustom01" value="" required>
            <div class="valid-feedback">
              ¡Se ve bien!
            </div>
          </div>
          <div class="col-md-4">
            <label for="validationCustom02" class="form-label">Apellido</label>
            <input type="text" class="form-control" id="validationCustom02" value="Otto" required>
            <div class="valid-feedback">
              ¡Se ve bien!
            </div>
          </div>
          <div class="col-md-4">
            <label for="validationCustomUsername" class="form-label">Nombre de usuario</label>
            <div class="input-group has-validation">
              <span class="input-group-text" id="inputGroupPrepend">@</span>
              <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend"
                required>
              <div class="invalid-feedback">
                Por favor, elije un nombre de usuario.
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <label for="validationCustom03" class="form-label">Ciudad</label>
            <input type="text" class="form-control" id="validationCustom03" required>
            <div class="invalid-feedback">
              Proporciona una ciudad válida.
            </div>
          </div>
          <div class="col-md-3">
            <label for="validationCustom04" class="form-label">Estado</label>
            <select class="form-select" id="validationCustom04" required>
              <option selected disabled value="">Elige...</option>
              <option>...</option>
            </select>
            <div class="invalid-feedback">
              Selecciona un estado válido.
            </div>
          </div>
          <div class="col-md-3">
            <label for="validationCustom05" class="form-label">Código postal</label>
            <input type="text" class="form-control" id="validationCustom05" required>
            <div class="invalid-feedback">
              Proporciona un código postal válido.
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Guardar cambios</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade modal-dialog modal-lg" id="editarModal" tabindex="-1" aria-labelledby="editarModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Título del modal</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, tenetur dolore aut minima nobis sit reiciendis
        libero laboriosam quis accusantium ea sunt! Animi facilis aliquam optio consequatur ab assumenda id.
        Autem id, laudantium quos quidem perferendis placeat quasi odit repudiandae inventore eius. Dolorem corporis
        repudiandae delectus, minima velit ipsa, alias id debitis est, nesciunt porro non saepe accusantium quibusdam
        placeat.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Guardar cambios</button>
      </div>
    </div>
  </div>
</div>