<div class="container">
  <div class="card-header-flex">
    <h3>Clientes</h3>
    <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#registerModal">Insertar</button>
  </div>
  <div class="car-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>IDENTIFICACION</th>
          <th>NOMBRES</th>
          <th>APELLIDOS</th>
          <th>EMAIL</th>
          <th>TELEFONO</th>
          <th>DIRECCION</th>
          <th>ACCIONES</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes">
          <td>{{cliente.identificacion}}</td>
          <td>{{cliente.nombres}}</td>
          <td>{{cliente.apellidos}}</td>
          <td>{{cliente.email}}</td>
          <td>{{cliente.telefono}}</td>
          <td>{{cliente.direccion}}</td>
          <td>
            <div class="buttons-acciones">
              <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#editarModal">
                <img src="../assets/svg/edit.svg" alt="">
              </button>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#eliminarModal">
                <img src="../assets/svg/delete.svg" alt="">
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Modal - Register -->
<div class="modal fade modal-dialog modal-lg" id="registerModal" tabindex="-1" aria-labelledby="editarModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar cliente</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="row g-3 needs-validation" novalidate
          (ngSubmit)="crear()">
          <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Número de identificación</label>
            <input type="text" class="form-control" id="validationCustom01" required
            name="identificacion" [(ngModel)]="nuevoCliente.identificacion">
            <div class="valid-feedback">
              ¡Se ve bien!
            </div>
          </div>
          <div class="col-md-4">
            <label for="validationCustom01" class="form-label">Nombres</label>
            <input type="text" class="form-control" id="validationCustom02" value="" required
            name="nombres" [(ngModel)]="nuevoCliente.nombres">
            <div class="valid-feedback">
              ¡Se ve bien!
            </div>
          </div>
          <div class="col-md-4">
            <label for="validationCustom02" class="form-label">Apellidos</label>
            <input type="text" class="form-control" id="validationCustom03" value="" required
            name="apellidos" [(ngModel)]="nuevoCliente.apellidos">
            <div class="valid-feedback">
              ¡Se ve bien!
            </div>
          </div>
          <div class="col-md-4">
            <label for="validationCustomUsername" class="form-label">Correo electrónico</label>
            <div class="input-group has-validation">
              <span class="input-group-text" id="inputGroupPrepend">@</span>
              <input type="text" class="form-control" id="validationCustom04" aria-describedby="inputGroupPrepend"
                required name="email" [(ngModel)]="nuevoCliente.email">
              <div class="invalid-feedback">
                Por favor, ingrese su correo electrónico
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <label for="validationCustom03" class="form-label">Telefono</label>
            <input type="text" class="form-control" id="validationCustom05" required
            name="telefono" [(ngModel)]="nuevoCliente.telefono">
            <div class="invalid-feedback">
              Proporciona un telefono valido.
            </div>
          </div>
          <div class="col-md-3">
            <label for="validationCustom05" class="form-label">Dirección</label>
            <input type="text" class="form-control" id="validationCustom06" required
            name="direccion" [(ngModel)]="nuevoCliente.direccion">
            <div class="invalid-feedback">
              Proporciona una dirección correcta.
            </div>
          </div>
          <button type="button" class="btn btn-primary">Guardar cambios</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<!-- End Modal - Register -->

<!-- Modal - Edit -->
<div class="modal fade modal-dialog modal-lg" id="editarModal" tabindex="-1" aria-labelledby="editarModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar cliente</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="row g-3 needs-validation" novalidate>
          <div class="col-md-4">
            <label for="validationCustom01" class="form-label">Nombres</label>
            <input type="text" class="form-control" id="validationCustom01" value="" required>
            <div class="valid-feedback">
              ¡Se ve bien!
            </div>
          </div>
          <div class="col-md-4">
            <label for="validationCustom02" class="form-label">Apellido</label>
            <input type="text" class="form-control" id="validationCustom02" value="Otto" required>
            <div class="valid-feedback">
              ¡Se ve bien!
            </div>
          </div>
          <div class="col-md-4">
            <label for="validationCustomUsername" class="form-label">Nombre de usuario</label>
            <div class="input-group has-validation">
              <span class="input-group-text" id="inputGroupPrepend">@</span>
              <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend"
                required>
              <div class="invalid-feedback">
                Por favor, elije un nombre de usuario.
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <label for="validationCustom03" class="form-label">Ciudad</label>
            <input type="text" class="form-control" id="validationCustom03" required>
            <div class="invalid-feedback">
              Proporciona una ciudad válida.
            </div>
          </div>
          <div class="col-md-3">
            <label for="validationCustom04" class="form-label">Estado</label>
            <select class="form-select" id="validationCustom04" required>
              <option selected disabled value="">Elige...</option>
              <option>...</option>
            </select>
            <div class="invalid-feedback">
              Selecciona un estado válido.
            </div>
          </div>
          <div class="col-md-3">
            <label for="validationCustom05" class="form-label">Código postal</label>
            <input type="text" class="form-control" id="validationCustom05" required>
            <div class="invalid-feedback">
              Proporciona un código postal válido.
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Guardar cambios</button>
      </div>
    </div>
  </div>
</div>
<!-- End Modal - Edit -->

<!-- Modal - Delete -->
<div class="modal fade modal-dialog modal-lg" id="eliminarModal" tabindex="-1" aria-labelledby="editarModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Título del modal</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, tenetur dolore aut minima nobis sit reiciendis
        libero laboriosam quis accusantium ea sunt! Animi facilis aliquam optio consequatur ab assumenda id.
        Autem id, laudantium quos quidem perferendis placeat quasi odit repudiandae inventore eius. Dolorem corporis
        repudiandae delectus, minima velit ipsa, alias id debitis est, nesciunt porro non saepe accusantium quibusdam
        placeat.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Guardar cambios</button>
      </div>
    </div>
  </div>
</div>
<!-- End Modal - Delete -->